body {
	display: flex;
	flex-direction: column;
	-webkit-print-color-adjust: exact;
}

#image-wrapper {
	display: flex;
	display: flex;
	justify-items: center;
	justify-content: center;
	border:  dashed 2px #bbb;
	margin: 2em auto;
	height: 100px;
}

#a {
	width: 80px;
	/*background: #eee;*/
	border-right: dashed 1px #bbb;
}

#b {
	width: 100px;
}

#c {
	width: 100px;
}

#d {
	width: 80px;
	/*border-left: dashed 1px #bbb;*/
}

img {
	width: 100px;
	height: auto;
	margin: auto;
	max-height: 100px;
}
